.dataResults {
  margin-top: 5px;
  width: 400px;
  height: 200px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
