.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: rgb(103, 235, 180);
}
.navbar {
  text-align: center;
  margin: 50px;
  padding-top: 50px;
  font-size: xx-large;
}
#dataResults {
  margin: 5px;
  padding: 5px;
  width: 60vw;
  height: 200px;
  background-color: white;
  overflow: hidden;
  overflow-y: auto;
  text-align: center;
  border: black;
  border-width: 1px;
  border-style: solid;
  align-items: stretch;
}
.dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  /* margin-left: 10px; */
}
.search {
  text-align: center;
}
.container-fluid {
  align-items: center;
  width: 100%;
}
